.bg {
  background-image: linear-gradient(
    150deg,
    rgb(33, 30, 87) 0%,
    rgb(151, 151, 252) 34%,
    rgb(200, 237, 245) 93%
  );
}

.card {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 300ms;
}

.card:hover {
  transform: translateY(-10px);
}

.card:hover .cover__card img {
  transform: scale(1.1);
}
